[Unit]
Description=Shitpost Discord Bot
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=/usr/bin/shitpost --config-file=/etc/shitpost.toml
Type=simple

[Install]
WantedBy=multi-user.target
