[Unit]
Description=Shitpost Discord Bot

[Service]
ExecStart=/usr/bin/shitpost --config-file=/etc/shitpost.toml
Type=simple

[Install]
WantedBy=multi-user.target